:root {
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --main-txt-color: #212121;
  --grey-txt-color: #757575;
  --white-txt-color: #ffffff;
  --dark-background-color: #2f303a;
  --hover-color: #2196f3;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-txt-color);
}
button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*  COMPONENTS  */
.navigation-list-item-link.active {
  color: var(--hover-color);
}

/*  HEADER  */

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.email {
  margin-left: auto;
  margin-right: 50px;
}

.header .logo-link {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* text-decoration: none;  */

  letter-spacing: 0.03em;
  color: var(--hover-color);

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-dark {
  color: #000000;
}

.navigation-list-item-link,
.email,
.phone-number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  /* text-decoration: none;
  color: #212121; */
}

.email,
.phone-number {
  color: var(--grey-txt-color);
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.email:hover,
.email:focus,
.phone-number:hover,
.phone-number:focus {
  color: var(--hover-color);
}

.main-header-container {
  background-color: var(--dark-background-color);
  height: 600px;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-color);
}

.primary-btn {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-color);
  padding: 200px 0 30px;
  width: 692px;
  margin: 0 auto;
}

.primary-btn:hover {
  cursor: pointer;
}

/*  NASZE ATUTY / OUR ATRIBUTES  */

.atributes-list-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 200px 0 30px;
  width: 692px;
  margin: 0 auto;
}

.atributes-list-item-header:not(:last-child) {
  padding-right: 30px;
}
.atributes-list-item-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

/*  CZYM SIĘ ZAJMUJEMY / WHAT WE DO  */

.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

/*  NASZ ZESPÓŁ / OUR TEAM  */

.our-team {
  background-color: #f5f4fa;
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

.our-team-list-item {
  background-color: #ffffff;
}
.second-header {
  padding-bottom: 50px;
}

.our-team-list-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.842;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team-list-occupation {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
  padding-bottom: 30px;
}

/*  FOOTER  */

.footer {
  background-color: var(--dark-background-color);
} 
/* background color */

.footer .container {
  padding-top: 60px;
}

.footer .logo-link {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;

  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.address-list {
  padding-top: 20px;
}

.address-list-item:not(:last-child) {
  padding-bottom: 9px;
}

.address-list-item:last-child {
  padding-bottom: 60px;
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* text-decoration: none; */
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--hover-color);
}

.logo-light {
  color: var(--white-txt-color);
}

.street {
  color: var(--white-txt-color);
}

/*  PORTFOLIO  */

.filter-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.projects-list-wrap {
	display: flex;
	flex-wrap: wrap;
}

.filter-btn:hover,
.filter-btn:focus {
  cursor: pointer;
  color: var(--white-txt-color);
  background-color: var(--hover-color);
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
	padding-left: 24px;
}


.projects-list-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
  padding-top: 4px;
	padding-bottom: 20px;
	padding-left: 24px;
}
